/html
.env
*.p8
/*/DistCert_*

ios/
# CounterApp/ios/ 配下の全ファイル・フォルダを無視
CounterApp/ios/*
CounterApp/ios/.*
!CounterApp/ios/.gitkeep

CounterAppWeb/node_modules/*
CounterAppWeb/node_modules/.*
!CounterAppWeb/node_modules/.gitkeep 
